:root {
    --bg: 51, 49, 41;
    --shade: 26, 25, 21;
	--ink: 255, 209, 25;
	--darkerink: 178, 146, 18;
	--brightink: 255, 246, 0;
	--link: 12, 174, 255;
	--visited: 166, 196, 255;
	--active: 229, 80, 105;
	--hover: 140, 179, 255;
	--code: 69, 229, 109;
	--codebg: 0, 5, 13;
	--highlight: 255, 171, 25;
}