:root {
    --bg: 0, 102, 51;
    --shade: 0, 77, 38;
	--ink: 255, 228, 191;
	--darkerink: 242, 228, 191;
	--brightink: 255, 242, 224;
	--link: 12, 94, 255;
	--visited: 166, 196, 255;
	--active: 229, 80, 105;
	--hover: 140, 179, 255;
	--code: 69, 229, 109;
	--codebg: 0, 5, 13;
	--highlight: 242, 197, 61;
}