:root {
    --bg: 255, 85, 0;
    --shade: 178, 60, 0;
	--ink: 51, 17, 0;
	--darkerink: 26, 9, 0;
	--brightink: 102, 34, 0;
	--link: 8, 61, 166;
	--visited: 212, 173, 252;
	--active: 253, 175, 123;
	--hover: 8, 140, 166;
	--code: 69, 229, 109;
	--codebg: 0, 5, 13;
	--highlight: 255, 195, 76;
}